* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục khối chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ============================common====================== */
a {
  text-decoration: none;
}

/* ====================Header============================== */

.header .body {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}
